
//Hintergrundbild  
.root {
   	-fx-background-image: url("Background.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1000 800;
    -fx-background-color: black;
    -fx-background-position: center center;
}
//Allgemeines Label
.label {
    -fx-font-size: 20pt;
    -fx-font-family: "Arial black";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
//Label bei Creditsüberschriften #ff8000
.labelProg{
	 -fx-font-size: 13pt;
    -fx-font-family: "arial black";
    -fx-text-fill:#ff8000;
    -fx-opacity: 1;
}

//Label für Gewinner
.labelWin{
	-fx-font-size: 30pt;
    -fx-font-family: Impact, Charcoal, sans-serif;
    -fx-text-fill:#ff8000;
    -fx-opacity: 1;
}
//MenuBar
.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

//MenuBar Unterpunkte
.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

//MenuBar Label
.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

//ToolBar
.tool-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.buttonBack2{
	-fx-padding: 8 8 8 8;
	-fx-background-color: white;
	-fx-font-family: "Arial black", Helvetica, Arial, sans-serif;
	 -fx-font-size: 4pt;
}
//StandardButton
.button {
    -fx-padding: 50 50 50 50;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: blue;
    -fx-font-family: "Arial black", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
//Buttons fürs Spielfeld
.buttonSpiel{
    -fx-background-color: 
        #000000,
        linear-gradient(#8ebcea, #2f4b8f),
        linear-gradient(#456ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 40px;
}
//Button um Spiel zu beenden
.buttonEnde{
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
//Button für die Auswahlfenster
.buttonAuswahl{
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 30px;
}
//Button um zu Credits zu gelangen
.buttonCredits{
	  -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: #090500;
    -fx-font-size: 20px;
}
//Button um zum vorherigen Bildschirm zurückzukehren
.buttonBack{
	 -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: #090500;
    -fx-font-size: 20px;
}

//Button für Schwierigkeitsgradsauswahl
.buttonKI {
    -fx-font-size: 8pt;
    -fx-font-family: "Arial black";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

//Button deaktiviert
.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}
