
//Hintergrundbild  
.root {
   	-fx-background-image: url("Hintergrund.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1000 800;
    -fx-background-color: black;
    -fx-background-position: center center;
}
//Allgemeines Label
.label {
    -fx-font-size: 20pt;
    -fx-font-family: "Arial black";
    -fx-text-fill: #0080ff;
    -fx-opacity: 1;
}
//Label bei Creditsüberschriften #ff8000
.labelProg{
	 -fx-font-size: 13pt;
    -fx-font-family: "arial black";
    -fx-text-fill:#0080ff;
    -fx-opacity: 1;
}

//MenuBar
.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

//MenuBar Unterpunkte
.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

//MenuBar Label
.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

//ToolBar
.tool-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.buttonBack2{
	-fx-padding: 8 8 8 8;
	-fx-background-color: white;
	-fx-font-family: "Arial black", Helvetica, Arial, sans-serif;
	 -fx-font-size: 4pt;
}

//StandardButton
.button {
      -fx-background-color: 
        #000000,
        linear-gradient(#8ebcea, #2f4b8f),
        linear-gradient(#456ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 40px;
}


//Button für Schwierigkeitsgradsauswahl
.buttonKI {
    -fx-font-size: 13pt;
    -fx-font-family: "Arial black";
    -fx-text-fill: #0080ff;
    -fx-opacity: 1;
}

//Button deaktiviert
.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

//Eingabefeld
.text-field {
    -fx-font-size: 20px;
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}


